
<footer>
   <div class="footer">
       <h5> Developed by:Devendra</h5>
   </div>
   
</footer>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>

</body>
</html>